<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <title>My blog posts</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{.Prefix}}/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{.Prefix}}/static/css/typo.css" />
    <link rel="stylesheet" type="text/css" href="{{.Prefix}}/static/css/moegi.css" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_430988_8cv60swk1t7w4s4i.css">
    <link href="http://lib.baomitu.com/highlight.js/9.12.0/styles/atom-one-light.min.css" rel="stylesheet">
    <script src="http://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
</head>