<!DOCTYPE html>
<html>
    {{template "_header.html" .}}
    <body>        
        <div class="container">
            <header>
                    <div class="post-blog-title">
                        <a href="{{.Prefix}}/index.html"><i class="iconfont icon-back"></i>&nbsp;Practice make perfect</a>
                        </div>
            </header>
            <main role="main">
                <article class="single-post">
                    <header class="post-header">
                        <h1 class="post-title">{{.Post.Meta.Title}}</h1>
                        <section class="post-meta">
                            <time class="post-date" datetime="{{.Post.Meta.Date}}">{{.Post.Meta.Date}}</time>
                        </section>
                    </header>
            
                    <section class="post-content typo">
                            {{.Post.Content}}            
                    </section>

                </article>
                <footer class="post-footer">
                        <span class="tags">
                                {{$prefix := .Prefix}}
                                {{range $k, $tag := .Post.Meta.Tags}}
                                    <a href="{{$prefix}}/tag/{{$tag}}.html">{{$tag}}</a>
                                {{end}}
                        </span>
                </footer>
            </main>
        </div> 
       {{template "_footer.html" .}}
    </body>
</html>