<!DOCTYPE html>
<html>
    {{template "_header.html" .}}
    <body>        
        <div class="container">
            <header>
                    <div class="post-blog-title">
                        <a href="./index.html"><i class="iconfont icon-back"></i>&nbsp;My blog posts</a>
                    </div>
            </header>
            <main role="main">
                <article class="page-archives">
                    <header class="post-header short-diver">
                        <h1 class="post-title">标签</h1>
                        <section class="post-meta">
                            共有{{len .Tags}}个标签
                        </section>
                    </header>

                    <div class="left">
                            <div class="tag-cloud tags">
                                    {{range $tag, $post := .Tags}}
                                    <a href="./tag/{{$tag}}.html" class="tag-item">{{$tag}} ({{len $post}})</a>
                                    {{end}}
                            </div>
                    </div>

                </article>
            </main>
        </div>
        {{template "_footer.html" .}}
    </body>
</html>